*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1{
    font-size: 45px;
}

header,
section h2,
section h3,
form button{
    font-family: 'Chakra Petch', sans-serif;
    
}

body, input, textarea{
    font-family: 'Roboto', sans-serif;
}

header{
    padding: 16px 0;
    background-color: darkslategray;
    color: aliceblue;
}

header nav li {
    display: inline;
    margin-left: 16px;
    color: aliceblue;
    font-size: 18px;

}

header nav li a {
    color: aliceblue;
    text-decoration: none;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img{
    height: 24px;
    margin-right: 10px;
}

.brands-list li{
    display: inline;
}

section .container{
    align-items: flex-start;
}

section{
    padding: 24px 0;
    color: darkslategray;
}

section h2{
    margin-bottom: 16px;
    font-size: 30px;
}

section p{
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
    
}

.social-links img{
    height: 24px;
}

.social-links li{
    display: inline;
    margin-right: 8px;
}

.social-links li a{
    text-decoration: none;
}

#contact .container{
    display: block;
}
.contact-methods{
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

section h3{
    margin-bottom: 16px;
}

form button{
    background-color: darkslategray;
    color: aliceblue;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: rgb(38, 136, 136);
}

input:focus, textarea:focus{
    outline-color: darkslategray;
}

footer{
    background-color: darkslategray;
    color: aliceblue;
    padding: 16px 0;
}